In [2]:
Code cell <undefined>
#%% [code]
#import libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

dataset = pd.read_csv('titanic3.csv')

Code cell <undefined>
#%% [code]
#display the dataset
dataset.head()
Execution output
4KB
	text/plain
		pclass  survived                                             name     sex  \
		0       1         1                    Allen, Miss. Elisabeth Walton  female   
		1       1         1                   Allison, Master. Hudson Trevor    male   
		2       1         0                     Allison, Miss. Helen Loraine  female   
		3       1         0             Allison, Mr. Hudson Joshua Creighton    male   
		4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female   
		
		       age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
		0  29.0000      0      0   24160  211.3375       B5        S    2    NaN   
		1   0.9167      1      2  113781  151.5500  C22 C26        S   11    NaN   
		2   2.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN   
		3  30.0000      1      2  113781  151.5500  C22 C26        S  NaN  135.0   
		4  25.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN   
		
		                         home.dest  
		0                     St Louis, MO  
		1  Montreal, PQ / Chesterville, ON  
		2  Montreal, PQ / Chesterville, ON  
		3  Montreal, PQ / Chesterville, ON  
		4  Montreal, PQ / Chesterville, ON

Code cell <undefined>
#%% [code]
dataset.isna().sum()
Execution output
0KB
	text/plain
		pclass          0
		survived        0
		name            0
		sex             0
		age           263
		sibsp           0
		parch           0
		ticket          0
		fare            1
		cabin        1014
		embarked        2
		boat          823
		body         1188
		home.dest     564
		dtype: int64

Code cell <undefined>
#%% [code]
dataset = dataset.drop(columns=['name','cabin','boat','body','home.dest','ticket'])
dataset = dataset.dropna(subset=['age','embarked','fare'])
dataset.isna().sum()
Execution output
0KB
	text/plain
		pclass      0
		survived    0
		sex         0
		age         0
		sibsp       0
		parch       0
		fare        0
		embarked    0
		dtype: int64

Code cell <undefined>
#%% [code]
dataset['sex'].unique()
sex = {'male': 1, 'female': 0}
dataset['sex'].replace(sex, inplace=True)

Code cell <undefined>
#%% [code]
dataset['embarked'].unique()
embarked = {'C': 1, 'S': 2, 'Q': 3}
dataset['embarked'].replace(embarked, inplace=True)

Code cell <undefined>
#%% [code]
X = dataset.drop(columns=['survived'])
y = dataset['survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)
prediction = LogisticRegression()
prediction.fit(X_train,y_train)
y_prediction=prediction.predict(X_test)
Execution output
1KB
	Stream
		C:\Users\VINCENT\anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
		STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.
		
		Increase the number of iterations (max_iter) or scale the data as shown in:
		    https://scikit-learn.org/stable/modules/preprocessing.html
		Please also refer to the documentation for alternative solver options:
		    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
		    n_iter_i = _check_optimize_result(

Code cell <undefined>
#%% [code]
accuracy = accuracy_score(y_test, y_prediction)
accuracy
Execution output
0KB
	text/plain
		0.7777777777777778

Code cell <undefined>
#%% [code]

SyntaxError: ignored